/*
reset style
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:link,
a:hover,
a:active {
  text-decoration: none;
}
/*
fonts
 */
@font-face {
  font-family: 'HanSansCN-Light';
  src: url("../fonts/SourceHanSansCN-Light.otf");
  font-weight: normal;
  font-style: normal;
}
/*
index.css
 */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "HanSansCN-Light";
  font-size: 100%;
}
@keyframes moreMove {
  0% {
    bottom: 27px;
  }
  35% {
    bottom: 43px;
  }
  40% {
    bottom: 37px;
  }
  90% {
    bottom: 23px;
  }
  98% {
    bottom: 25px;
  }
  99% {
    bottom: 26px;
  }
  100% {
    bottom: 27px;
  }
}
@keyframes showMask {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.none {
  display: none;
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.video {
  width: 100%;
  height: 756px;
  background-size: cover;
}
.container {
  width: 1423px;
}
#header {
  width: 100%;
  height: 100%;
  float: left;
  background-image: url(../images/index.jpg);
  background-size: cover;
  position: relative;
}
#header nav {
  padding-top: 33px;
  color: #fff;
  z-index: 999;
}
#header nav .navbar-left {
  position: relative;
}
#header nav .navbar-left .nav_logo {
  width: 48px;
  height: 48px;
  display: block;
}
#header nav .navbar-left .nav_logo img {
  width: 100%;
  height: 100%;
}
#header nav .navbar-left .rixin_desc {
  position: absolute;
  left: 60px;
  top: 0;
  width: 50px;
}
#header nav .navbar-left .rixin_desc .rixin_name {
  font-size: 25px;
  margin-top: 5px;
}
#header nav .navbar-left .rixin_desc .rixin_name2 {
  font-size: 15px;
  margin-left: 3px;
}
#header nav .navbar-right {
  margin-right: 0;
}
#header nav .navbar-right .menu {
  position: relative;
  display: block;
  color: #fff;
}
#header nav .navbar-right .menu .nav_menu {
  font-size: 30px;
  display: inline-block;
  float: left;
  margin-top: 11px;
  margin-right: 86px;
}
#header nav .navbar-right .menu .nav_pub {
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 20px;
  width: 38px;
  height: 6px;
  border-radius: 7px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header nav .navbar-right .menu .nav_pub:before,
#header nav .navbar-right .menu .nav_pub:after {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 38px;
  height: 6px;
  border-radius: 7px;
  content: '';
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: 5px center 0;
  -moz-transform-origin: 5px center 0;
  -o-transform-origin: 5px center 0;
  transform-origin: 5px center 0;
}
#header nav .navbar-right .menu .nav_pub:before {
  top: -12px;
}
#header nav .navbar-right .menu .nav_pub:after {
  top: 12px;
}
#header nav .navbar-right .menu img {
  height: 32px;
  width: 38px;
  display: inline-block;
  float: left;
  margin-top: 8px;
}
#header nav .navbar-right .closer {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#header nav .navbar-right .closer:hover .nav_pub {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform-origin: center 4px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#header nav .navbar-right .closer .nav_pub {
  height: 0;
}
#header nav .navbar-right .closer .nav_pub:after {
  position: absolute;
  left: -5px;
  top: 0;
  width: 48px;
  -webkit-transform-origin: center center 0;
  -moz-transform-origin: center center 0;
  -ms-transform-origin: center center 0;
  -o-transform-origin: center center 0;
  transform-origin: center center 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#header nav .navbar-right .closer .nav_pub:before {
  position: absolute;
  left: -5px;
  top: 0;
  width: 48px;
  -webkit-transform-origin: center center 0;
  -moz-transform-origin: center center 0;
  -ms-transform-origin: center center 0;
  -o-transform-origin: center center 0;
  transform-origin: center center 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#header .navbar2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 20px 0;
  margin-bottom: 0;
  background: #fff;
  color: #2EA7C9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#header .navbar2 .navbar-right .menu {
  color: #2EA7C9;
}
#header .navbar2 .navbar-right .menu .nav_pub {
  background-color: #2EA7C9;
}
#header .navbar2 .navbar-right .menu .nav_pub:before,
#header .navbar2 .navbar-right .menu .nav_pub:after {
  background-color: #2EA7C9;
}
#header .content {
  width: 669px;
  height: 174px;
  padding-top: 241px;
  margin: 0 auto;
}
#header .content .motto {
  font-size: 4.625rem;
  color: #fff;
  text-align: left;
}
#header .content .motto span {
  float: right;
}
#header .content ul {
  width: 405px;
  height: 42px;
  margin: 53px auto;
  font-size: 2.625rem;
  color: #fff;
}
#header .content ul li {
  float: left;
}
#header .content ul li a {
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#header .content ul li a:hover {
  color: #337ab7;
}
#header .header_more {
  width: 88px;
  height: 48px;
  position: absolute;
  bottom: 27px;
  left: 50%;
  margin-left: -44px;
  animation-name: moreMove;
  -webkit-animation-name: moreMove;
  animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
#header .header_more .more {
  display: block;
  width: 52px;
  height: 17px;
  margin: 0 auto;
  background-size: cover;
}
#header .header_more .arrow {
  margin-top: 14px;
}
#nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #2EA7C9;
}
#nav ul {
  height: 100%;
}
#nav ul li {
  width: 100%;
  height: 11%;
  font-size: 45px;
  color: #fff;
  text-align: center;
}
#nav ul li a {
  color: #fff;
  display: block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#nav ul li a:hover {
  color: #1A83A0;
  transform: scale(1.1);
}
#nav ul li:nth-child(1) {
  margin-top: 12%;
}
#nav ul li:nth-child(5) {
  margin-top: 5%;
}
#news {
  width: 100%;
  float: left;
  background-color: #f1f1f1;
}
#news .news_overflow {
  float: left;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#news .news_wrapper {
  float: left;
  width: 100%;
  height: 100%;
  left: 0;
  position: relative;
}
#news .news_content2 {
  position: absolute;
  width: 100%;
  left: 100%;
}
#news .news_content3 {
  position: absolute;
  width: 100%;
  left: 200%;
}
#news .row {
  padding-bottom: 58px;
}
#news .row .heading .h1_sub img {
  width: 100%;
  height: 100%;
}
#news .row .heading .more {
  font-size: 2.25rem;
  color: #D0D0D0;
  float: right;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#news .row .heading .more:hover {
  color: #2EA7C9;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#news .content {
  float: left;
  margin-top: 91px;
  width: 100%;
  -webkit-transition: all .3s ease;
  -moz-transition: all.3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#news .content:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
#news .content:hover .pic img {
  opacity: 1;
}
#news .content .info {
  float: left;
  height: 100%;
  padding: 35px 0 0 4.95%;
}
#news .content .info .title {
  font-size: 1.875rem;
  color: #989898;
  font-weight: bold;
}
#news .content .info .main {
  float: left;
  margin-top: 70px;
  width: 81.5%;
  font-size: 1.5rem;
  line-height: 3.75rem;
  color: #989898;
}
#news .content .info .learnmore {
  float: left;
  margin-left: 5%;
  margin-top: 10%;
  background-color: #2EA7C9;
  border-radius: 8px;
  padding: 24px 52px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#news .content .info .learnmore:hover {
  background-color: #1A83A0;
}
#news .content .info .learnmore img {
  width: 125px;
  height: 20px;
}
#news .content .pic {
  float: left;
  height: 537px;
  padding-left: 2.3%;
  padding-right: 0;
}
#news .content .pic img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
#news .content2 {
  margin: 135px auto 70px auto;
}
#news .slider {
  width: 282px;
  height: 10px;
  margin: 0 auto;
}
#news .slider li {
  float: left;
  width: 68px;
  height: 100%;
  margin: auto 13px;
  background-color: #D0D0D0;
  border-radius: 4px;
}
#news .slider .active {
  background-color: #2EA7C9;
}
#notice {
  float: left;
  width: 100%;
  position: relative;
}
#notice .sample {
  height: 775px;
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
}
#notice .sample:hover .mask {
  animation: showMask;
  -webkit-animation: showMask;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  box-shadow: 0 0 40px 4px #5B5B5B;
  z-index: 999;
}
#notice .mask {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 36, 36, 0.82);
  color: #F6F6F6;
}
#notice .wrapper {
  width: 76.56%;
  padding-top: 66px;
  margin: 0 auto;
  text-align: left;
}
#notice .wrapper h1 {
  font-size: 3.125rem;
  text-align: left;
  font-weight: bold;
}
#notice .wrapper ul {
  margin-top: 110px;
  list-style: disc;
}
#notice .wrapper ul li {
  font-size: 1.625rem;
  line-height: 2rem;
  text-align: left;
}
#notice .wrapper a {
  transition: all .5s ease;
  color: #fff;
}
#notice .wrapper a:hover {
  color: #2EA7C9;
}
#notice .notice1 {
  background-image: url(../images/notice1.jpg);
}
#notice .notice2 {
  background-image: url(../images/notice2.jpg);
}
#notice .more_wrapper {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 0.25));
}
#notice .more_wrapper .more {
  position: absolute;
  width: 100px;
  height: 28px;
  left: 50%;
  margin-left: -50px;
  bottom: 20px;
  transition: all 0.3s ease;
}
#notice .more_wrapper .more:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#life {
  width: 100%;
  float: left;
  position: relative;
  background-color: #6199A8;
}
#life .container {
  margin: 55px auto;
}
#life .container h1 {
  font-size: 3.125rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 90px;
}
#life .container h1 span {
  color: #0F5B70;
  font-weight: normal;
  margin-left: 24px;
}
#life .container .life_part {
  height: 300px;
  margin-bottom: 10px;
}
#life .container .life_part:hover {
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 40px 2px #ccc;
  background-color: #ddd;
}
#life .container .life_part:hover img {
  transition: all 0.5s ease;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.85;
}
#life .container .life_part .img_wrapper {
  width: 100%;
  overflow: hidden;
}
#life .container .life_part .img_wrapper img {
  width: 100%;
}
#life .container .life_part .content {
  padding: 16px 0 26px;
  height: 100px;
  text-align: center;
  position: relative;
}
#life .container .life_part .content .name {
  font-size: 1.375rem;
}
#life .container .life_part .content .date {
  font-size: 1.125rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 26px;
}
#life .container .more {
  position: absolute;
  width: 100px;
  height: 28px;
  left: 50%;
  margin-left: -50px;
  bottom: 20px;
  transition: all 0.3s ease;
}
#life .container .more:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#college {
  width: 100%;
  height: 883px;
  overflow: hidden;
  float: left;
  background-image: url(../images/college.jpg);
}
#college .marquee_overflow {
  margin-top: 87px;
  height: 100%;
}
#college .marquee_overflow .marquee_wrapper {
  display: none;
}
#college .marquee_overflow .marquee_wrapper li {
  height: 710px;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
  position: relative;
  display: inline-block;
}
#college .marquee_overflow .marquee_wrapper li .li_wrapper {
  margin: 25px 100px;
  height: 660px;
  background-color: #fff;
  box-shadow: -3px 0 40px 4px #CBCBCB;
  border-radius: 5px;
  position: relative;
}
#college .marquee_overflow .marquee_wrapper li .li_wrapper img {
  display: block;
  width: 260px;
  height: 360px;
  padding: 30px 0 70px;
  margin: 0 auto;
}
#college .marquee_overflow .marquee_wrapper li .li_wrapper p {
  width: 260px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.06rem;
  color: #7F7F7F;
}
#college .marquee_overflow .marquee_wrapper li .li_wrapper a {
  position: absolute;
  bottom: 47px;
  left: 50%;
  margin-left: -85px;
  display: block;
  width: 170px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border: 0;
  border-radius: 6px;
  background-color: #2EA7C9;
  color: #fff;
  font-size: 17px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#college .marquee_overflow .marquee_wrapper li .li_wrapper a:hover {
  background-color: #1A83A0;
}
.li_wrapper:hover {
  height: 120%;
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.75;
  box-shadow: -3px 0 40px 4px #a9a9a9;
  -webkit-transition: all ease 0.5s 0;
  -o-transition: all ease 0.5s 0;
  -moz-transition: all ease 0.5s 0;
  transition: all ease 0.5s 0;
  overflow: none;
}
/*flexisel*/
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
  height: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.nbs-flexisel-inner {
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
}
.nbs-flexisel-item {
  float: left;
  margin: 0;
  padding: 0px;
  position: relative;
}
.nbs-flexisel-item > img {
  cursor: pointer;
  position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 30px;
  height: 60%;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.nbs-flexisel-nav-left {
  left: 0%;
  top: 30% !important;
  background: url(../images/arrow2.png) no-repeat 0 0;
}
.nbs-flexisel-nav-right {
  right: 0%;
  top: 30% !important;
  background: url(../images/arrow2.png) no-repeat 100% 0;
}
#map {
  float: left;
  width: 100%;
  height: 426px;
  position: relative;
}
#map .wrapper {
  width: 100%;
  height: 100%;
  float: left;
  background-image: url(../images/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#map .content {
  float: left;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 95px auto auto;
}
#map .content h1 {
  font-size: 4.375rem;
  font-weight: bold;
  color: #fff;
  text-indent: 11px;
  text-align: center;
}
#map .content a {
  display: block;
  width: 170px;
  height: 55px;
  margin: 97px auto auto;
  line-height: 55px;
  text-align: center;
  border: 0;
  border-radius: 6px;
  background-color: #2EA7C9;
  color: #fff;
  font-size: 17px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#map .content a:hover {
  background-color: #1A83A0;
}
#map2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(41, 36, 36, 0.82);
}
#map2 img {
  height: 100%;
}
#wechat {
  float: left;
  width: 100%;
  height: 470px;
  background-color: #F3F3F3;
  position: relative;
}
#wechat .wrapper {
  width: 872px;
  height: 380px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 13.9%;
}
#wechat .wrapper .iphone {
  width: 336px;
  float: left;
}
#wechat .wrapper .content {
  float: right;
  width: 346px;
}
#wechat .wrapper h1 {
  font-size: 2.93rem;
  line-height: 6.125rem;
  color: #686868;
}
#wechat .wrapper .readmore {
  display: block;
  width: 260px;
  height: 85px;
  line-height: 85px;
  position: absolute;
  bottom: 28px;
  right: 26px;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  box-shadow: -4px 5px 6px 1px #CBCBCB;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wechat .wrapper .readmore:hover {
  background-color: #2EA7C9;
  color: #fff;
}
#news h1,
#service h1 {
  font-size: 4.125rem;
  color: #99A0A5;
  display: block;
  margin-top: 77px;
}
#news h1 .h1_sub,
#service h1 .h1_sub {
  display: inline-block;
  margin-left: 18px;
}
#service {
  width: 100%;
  float: left;
  background-color: #F6F6F6;
}
#service .container {
  height: 100%;
  position: relative;
}
#service .row {
  height: 100%;
  padding-bottom: 143px;
}
#service .PE,
#service .lecture,
#service .exam,
#service .evaluate {
  margin-top: 135px;
}
#service .PE a,
#service .lecture a,
#service .exam a,
#service .evaluate a {
  display: block;
  width: 184px;
  height: 372px;
  position: relative;
}
#service .pic1 {
  display: inline-block;
  width: 100%;
  height: 168px;
  background-repeat: no-repeat;
  background-size: contain;
}
#service .pic2 {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 46px;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
#service .lecture,
#service .exam,
#service .evaluate {
  margin-left: 4.4%;
}
#service .lecture .pic2 {
  margin-left: 20px;
  height: 53px;
}
#service .exam .pic1 {
  width: 156px;
  height: 55px;
  margin-top: 61px;
  margin-left: 20px;
}
#service .PE .pic1 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-image: url(../images/PE1.png);
}
#service .PE .pic2 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-image: url(../images/PE2.png);
}
#service .PE a:hover .pic1 {
  background-image: url(../images/PE1_after.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#service .PE a:hover .pic2 {
  background-image: url(../images/PE2_after.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#service .lecture .pic1 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-image: url(../images/lecture1.png);
}
#service .lecture .pic2 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-image: url(../images/lecture2.png);
}
#service .lecture a:hover .pic1 {
  background-image: url(../images/lecture1_after.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#service .lecture a:hover .pic2 {
  background-image: url(../images/lecture2_after.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#service .exam .pic1 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-image: url(../images/exam1.png);
}
#service .exam .pic2 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-image: url(../images/exam2.png);
}
#service .exam a:hover .pic1 {
  background-image: url(../images/exam1_after.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#service .exam a:hover .pic2 {
  background-image: url(../images/exam2_after.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#service .evaluate .pic1 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-image: url(../images/evaluate1.png);
}
#service .evaluate .pic2 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-image: url(../images/evaluate2.png);
}
#service .evaluate a:hover .pic1 {
  background-image: url(../images/evaluate1_after.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#service .evaluate a:hover .pic2 {
  background-image: url(../images/evaluate2_after.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#service .more {
  position: absolute;
  font-size: 2.25rem;
  color: #D0D0D0;
  right: 268px;
  bottom: 25px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#service .more:hover {
  color: #2EA7C9;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#footer {
  width: 100%;
  float: left;
  background-color: #2B2E37;
}
#footer .row {
  padding-top: 40px;
}
#footer .links {
  width: 564px;
  padding-bottom: 23px;
  float: left;
}
#footer .links label {
  width: 100%;
  font-size: 1.875rem;
  color: #BFC0C2;
  padding-bottom: 23px;
  border-bottom: 4px solid #E5E5E5;
}
#footer .links .content {
  float: left;
  padding-top: 24px;
  width: 100%;
}
#footer .links .content li {
  font-size: 1.25rem;
  line-height: 2.5rem;
  float: left;
  margin-right: 33px;
}
#footer .links .content li a {
  color: #BFC0C2;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#footer .links .content li a:hover {
  color: #2EA7C9;
}
#footer .copyright {
  color: #BFC0C2;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-bottom: 50px;
}
/*
resposive_layout
 */
@media (max-width: 1450px) {
  .container {
    width: 1074px;
  }
  #header .content {
    padding-top: 141px;
  }
  #news h1,
  #service h1 {
    font-size: 3.125rem;
    margin-top: 50px;
  }
  #news h1 .h1_sub,
  #service h1 .h1_sub {
    margin-left: 13px;
  }
  #news .row .content .info {
    padding-top: 22px;
  }
  #news .row .content .info .title {
    font-size: 1.43rem;
  }
  #news .row .content .info .main {
    margin-top: 53px;
    font-size: 1.125rem;
    line-height: 2.68rem;
  }
  #news .row .content .learnmore {
    padding: 19px 38px;
  }
  #news .row .content .learnmore img {
    width: 95px;
    height: 15px;
  }
  #news .row .content .pic {
    height: 406px;
  }
  #news .row .content2 {
    margin: 100px auto 52px auto;
  }
  #notice .sample {
    height: 586px;
  }
  #notice .mask .wrapper {
    width: 426px;
    padding-top: 60px;
  }
  #notice .mask ul {
    margin-top: 50px;
  }
  #notice .mask ul li {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  #life .container {
    margin-top: 30px;
  }
  #life .container h1 {
    margin-bottom: 60px;
  }
  #life .container .life_part {
    height: 220px;
  }
  #college {
    height: 672px;
  }
  #college .marquee_overflow {
    margin-top: 58px;
  }
  #college .marquee_overflow .marquee_wrapper li {
    height: 540px;
  }
  #college .marquee_overflow .marquee_wrapper li .li_wrapper {
    margin: 20px 50px;
    height: 500px;
    background-color: #fff;
    box-shadow: -3px 0 40px 4px #CBCBCB;
    border-radius: 5px;
    position: relative;
  }
  #college .marquee_overflow .marquee_wrapper li .li_wrapper img {
    width: 195px;
    height: 272px;
    padding: 23px 0 54px;
  }
  #college .marquee_overflow .marquee_wrapper li .li_wrapper p {
    width: 195px;
    font-size: 0.81rem;
    line-height: 0.93rem;
  }
  #college .marquee_overflow .marquee_wrapper li .li_wrapper a {
    width: 128px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -64px;
  }
  #map {
    height: 322px;
  }
  #map .content {
    margin: 95px auto auto;
  }
  #map .content h1 {
    font-size: 3.125rem;
    text-indent: 20px;
  }
  #map .content a {
    width: 128px;
    height: 40px;
    line-height: 40px;
    margin: 50px auto auto;
  }
  #wechat {
    height: 356px;
  }
  #wechat .wrapper {
    width: 667px;
    height: 280px;
  }
  #wechat .wrapper .iphone {
    width: 258px;
  }
  #wechat .wrapper .content {
    width: 268px;
  }
  #wechat .wrapper h1 {
    font-size: 2.31rem;
    line-height: 4.625rem;
  }
  #wechat .wrapper .readmore {
    width: 195px;
    height: 65px;
    line-height: 65px;
    font-size: 1.25rem;
    box-shadow: -3px 3px 6px 1px #CBCBCB;
  }
  #service .row {
    padding-bottom: 107px;
  }
  #service .PE,
  #service .lecture,
  #service .exam,
  #service .evaluate {
    margin-top: 110px;
  }
  #service .PE a,
  #service .lecture a,
  #service .exam a,
  #service .evaluate a {
    width: 140px;
    height: 270px;
  }
  #service .pic1 {
    height: 121px;
  }
  #service .pic2 {
    height: 37px;
  }
  #service .lecture,
  #service .exam,
  #service .evaluate {
    margin-left: 4.4%;
  }
  #service .lecture .pic2 {
    height: 43px;
  }
  #service .exam .pic1 {
    width: 110px;
    height: 40px;
    margin-top: 39px;
  }
  #service .more {
    font-size: 1.75rem;
    right: 200px;
  }
  #footer .links {
    width: 397px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
  #news .row .content .info {
    padding-top: 0;
  }
  #news .row .content .info .main {
    margin-top: 30px;
    font-size: 1rem;
    line-height: 2rem;
  }
  #news .row .content .learnmore {
    margin-top: 5%;
    padding: 14px 25px;
  }
  #news .row .content .learnmore img {
    width: 82px;
    height: 13px;
  }
  #news .row .content .pic {
    height: 100%;
  }
  #news .row .content2 {
    margin: 100px auto 52px auto;
  }
}
@media (max-width: 992px) {
  .container {
    width: 744px;
  }
  #nav ul li {
    height: 12%;
  }
  #nav ul li:nth-child(1) {
    margin-top: 15%;
  }
  #nav ul li:nth-child(5) {
    margin-top: 5%;
  }
  #news .content .info {
    padding-left: 15px;
  }
  #news .content .info .main {
    width: 100%;
  }
  #news .content .info .learnmore {
    width: 100%;
    padding: 14px 0;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  #news .content2 .info {
    margin-top: 20px;
  }
  #notice .mask h1 {
    font-size: 4.125rem;
    text-align: center;
  }
  #notice .mask ul {
    margin-top: 50px;
  }
  #notice .mask ul li {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  #life .container {
    margin-top: 55px;
  }
  #life .container h1 {
    margin-bottom: 90px;
  }
  #life .container .life_part {
    height: 300px;
  }
  #service .lecture,
  #service .evaluate {
    margin-left: 0;
  }
  #service .exam {
    margin-left: 16.66%;
  }
  #footer .links {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 576px;
  }
  #nav ul li {
    height: 10%;
  }
  #nav ul li:nth-child(1) {
    margin-top: 30%;
  }
  #nav ul li:nth-child(5) {
    margin-top: 5%;
  }
  #life .container .life_part {
    height: 440px;
  }
  #college .marquee_overflow .marquee_wrapper li .li_wrapper {
    margin: 20px 150px;
  }
  #service .exam {
    margin-left: 0;
  }
  #service .PE a,
  #service .evaluate a,
  #service .exam a,
  #service .lecture a {
    margin: 0 auto;
    height: 200px;
  }
}
